.manage-event {
  &__container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 50px;
    background-color: white;
  }

  &__title {
    margin: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    padding-left: 20px;
    margin-bottom: 10px;

    &__label {
      width: 100px;
      display: inline-block;
    }
  }
}
